__pycache__/
sota/ExquisiteNetV2/cifar-10-batches-py/
sota/Pointnet_Pointnet2_pytorch/Miniconda3-latest-MacOSX-arm64.sh
sota/Pointnet_Pointnet2_pytorch/models/llmge_models/
0/
1/
first_test/
z_slurm/
data/
llm-guided-evolution/sota/Pointnet_Pointnet2_pytorch/log/classification